@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  font-family: "Outfit", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: #fafafa;
  --text_color: #27272a;
  --border_nav: #27272a;
  --bg_header: #ffffff;
}
body {
    background-color: var(--primary);
    color: #fff;
    font-family: "Outfit", sans-serif;
}
/* Theme */

.dark {
    --primary: #000000;
    --text_color: #f4f4f5;
    --border_nav: #cacaca84;
    --bg_header: #252529;
}

/* active */
.active {
    background-color: #e11d48;
    color: #f4f4f5;
}